<form [formGroup]="buyForm" (ngSubmit)="onSubmit()" class="max-w-md mx-auto bg-white p-2 rounded-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Purchase Pokemon</h2>

    <!-- First Name -->
    <div class="mb-4">
        <label for="first-name" class="block text-gray-700 font-medium mb-2">First Name</label>
        <input type="text" formControlName="firstName" id="first-name" name="first_name" placeholder="First Name"
            class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        <span *ngIf="buyForm.controls.firstName?.invalid && buyForm.controls.firstName?.touched"
            class="text-sm text-red-500">
            First Name is required
        </span>
    </div>

    <!-- Last Name -->
    <div class="mb-4">
        <label for="last-name" class="block text-gray-700 font-medium mb-2">Last Name</label>
        <input type="text" id="last-name" formControlName="lastName" name="last_name" placeholder="Last Name"
            class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        <span *ngIf="buyForm.controls.lastName?.invalid && buyForm.controls.lastName?.touched"
            class="text-sm text-red-500">
            Last Name is required
        </span>
    </div>

    <!-- Email -->
    <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
        <input type="email" id="email" formControlName="email" name="email" placeholder="Email"
            class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        <span *ngIf="buyForm.controls.email?.invalid && buyForm.controls.email?.touched" class="text-sm text-red-500">
            A valid email is required
        </span>
    </div>

    <!-- Phone Number with Country Code -->
    <div class="mb-4">
        <label for="phone" class="block text-gray-700 font-medium mb-2">Phone Number</label>
        <div class="flex">
            <select id="buy-option" formControlName="phoneCountryCode" name="country_code"
                class="w-1/4 border border-gray-300 p-3 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option *ngFor="let code of countryCode" [value]="code.code">{{code.code}} - {{code.name}}</option>
            </select>
            <input type="text" id="phone" formControlName="phone" name="phone" placeholder="8123456789"
                class="w-3/4 border-t border-b border-r border-gray-300 p-3 rounded-r-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <span *ngIf="buyForm.controls.phone?.invalid && buyForm.controls.phone?.touched"
            class="text-sm text-red-500">
            A valid phone number is required
        </span>
    </div>

    <!-- Address -->
    <div class="mb-4">
        <label for="address" class="block text-gray-700 font-medium mb-2">Address</label>
        <textarea id="address" formControlName="address" name="address" rows="3" placeholder="Enter Address"
            class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
        <span *ngIf="buyForm.controls.address?.invalid && buyForm.controls.address?.touched"
            class="text-sm text-red-500">
            Address is required
        </span>
    </div>

    <!-- Pokemon Card -->
    <div class="mb-4 grid grid-cols-2 gap-4">
        <div *ngFor="let p of pokemons"
            class="p-4 border rounded-lg shadow-md bg-white">
            <img [src]="p.sprites.front_default" [alt]="p.name"
                class="w-24 h-24 object-contain mb-4 rounded-md mx-auto" />
            <p class="text-lg font-semibold mb-2 text-center">{{ p.name }}</p>
        </div>
    </div>

    <!-- Submit Button -->
    <div class="mt-6">
        <button [disabled] = "buyForm.invalid" type="submit" class="w-full bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-600 transition-all">
            Save
        </button>
    </div>
</form>
